<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <%= image_tag('ucalgary-logo.jpg', height: '200') %>
          <h1>Second Annual PHAS Symposium</h1>
          <h3>February 22, 2017</h3>
          <h3>Schedule</h3>
          <hr class="intro-divder"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="row section">
      <h3>&nbsp;9:30 am – &nbsp;10:00 am: Registration and Coffee (SB 148)</h3>
    </div>

    <div class="row section">
      <h3>&nbsp;10:00 am – 10:15 am: Opening of the Symposium</h3>
    </div>

    <div class="row section">
      <h3>10:15 am - 11:45 am: Session 1 (SB 146)</h3>
      <div class="chair">Chair: Anna Ordog</div>
      <div class="presentation">
        <div>Jordi Baro Urbea</div>
      </div>
      <div class="presentation">
        <div>Parisa Zarkeshian</div>
      </div>
      <div class="presentation">
        <div>Taylor Cameron</div>
      </div>
      <div class="presentation">
        <div>Kianoosh Tahani</div>
      </div>
      <div class="presentation">
        <div>Nafiseh Sang-Nourpour</div>
      </div>
    </div>
    <div class="row section">
      <h3>11:45 am - 1:15 pm: Lunch & Poster Session (SB 148)</h3>
      <div class="presentation">
        <div>Aaron Barclay, Grayson Owen</div>
      </div>
    </div>
    <div class="row section">
      <h3>1:15 pm - 2:45 pm: Session 2 (SB 146)</h3>
      <div class="chair">Chair: Abdullah Khalid</div>
      <div class="presentation">
        <div>Russell Shanahan</div>
      </div>
      <div class="presentation">
        <div>Isaura Oliver i Alabau</div>
      </div>
      <div class="presentation">
        <div>Neda Amiri</div>
      </div>
      <div class="presentation">
        <div>Andres Zambrano Moreno</div>
      </div>
      <div class="presentation">
        <div>Mahmood Noweir</div>
      </div>
    </div>
    <div class="row section">
      <h3>2:45 pm - 3:15 pm: Coffee Break (SB 148)</h3>
    </div>
    <div class="row section">
      <h3>3:15 pm - 4:45 pm: Session 3 (SB 148)</h3>
      <div class="chair">Chair: Mehrnoosh Tahani</div>
      <div class="presentation">
        <div>Alexander Anscombe</div>
      </div>
      <div class="presentation">
        <div>Masoud Habibi Davijani</div>
      </div>
      <div class="presentation">
        <div>Mohammad Hassan Yaghoubi</div>
      </div>
      <div class="presentation">
        <div>Sarah Weppler</div>
      </div>
      <div class="presentation">
        <div>Yadong Wu</div>
      </div>
    </div>

    <div class="row section">
      <h3>4:45 pm - 5:00 pm: Closing remarks (SB 148)</h3>
    </div>

    <div class="row section">
      <h3>5:00 pm - 7:00 pm: Social event (LDL)</h3>
    </div>

    <div class="row section">
      <h3>Presentation Abstracts</h3>
      <% @oral_presentations.each do |oral_presentation| %>
        <%= render 'presentation', presentation: oral_presentation %>
        <% end %>
    </div>
    <div class="row section">
      <h3>Poster Abstracts</h3>
      <% @poster_presentations.each do |oral_presentation| %>
        <%= render 'presentation', presentation: oral_presentation %>
      <% end %>
    </div>
  </div>
</div>

