<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <%= image_tag('ucalgary-logo.jpg', height: '200') %>
          <h1>The First PHAS Symposium</h1>
          <h3>November 12, 2015</h3>
          <hr class="intro-divder"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="instructions">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <p>
          It is a pleasure to invite you to the <strong>First PHAS Symposium</strong>.
          The conference is organized by the PHAS graduate students and postdoctoral research fellows and will take place at the main campus, in <strong>SB 142 and SB 148, of the University of Calgary</strong> on November 12, 2015.
        </p>
        <p>
          The purpose of the PHAS Symposium is to bring upper-level undergraduate students, graduate students and postdoctoral research fellows from various research areas and groups together.
          All PHAS gradate students and postdoctoral research fellows are welcome and encouraged to submit an abstract for an oral and/or a poster presentation.
          There is no registration fee. Furthermore, refreshment and lunch will be provided.
        </p>

        <p>
          Abstract submission is open and the <strong>deadline has been extended to October 23, 2015</strong>. To submit your abstract, please fill out the form below.
        </p>

        <p>
          We look forward to seeing you all at the First PHAS Symposium.
        </p>

        <p>
          Sincerely,
          </p>

          <p>
          <br/>
          The Organizing Committee (in alphabetical order):
          <br/>
          Jonny Johannes
          <br/>
          Behzad Khanaliloo
          <br/>
          Farokh Mivehvar
          <br/>
          Anna Ordog
          <br/>
          Lucile Veissier
          <br/>
          Elizabeth Watt
        </p>
      </div>
    </div>
  </div>
</div>
<hr/>

<div class="container">
  <div class="row">
    <strong>Abstract submission is now closed</strong>
  </div>
</div>

<hr/>
<div class="container">
  <div class="row">
    <p>Please contact <%= link_to "jonny.p.johannes@ucalgary.ca", "mailto:jonny.p.johannes@ucalgary.ca" %> if you have any questions about the form.</p>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    submission.init();
  });
</script>
