<div class="intro-header">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <%= image_tag('ucalgary-logo.jpg', height: '200') %>
          <h1>PHAS Symposium</h1>
          <h3>February 21, 2018</h3>
          <h3>Schedule</h3>
          <hr class="intro-divder"/>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="content-section-a">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="row section">
      <hp>Accepted presentations and the schedule will be posted here.</p>
  </div>
</div>

